@import '../assets/sass/vendors/response';

.set-password-container {
	padding: 18px;

	.seed-container {
		.public-key-box,
		.secret-key-box {
			> p {
				color: #000000;
			}
			.public-key-wrapper,
			.secret-key-wrapper {
				.public-key,
				.secret-key {
					color: #000000;
				}
			}
		}

		.modal-wrapper {
			padding: 18px;

			.close-modal-button-x {
				display: none;
			}
		}

		.secret-key-box {
			display: block;
		}
	}

	.keys-box {
		border-color: #039cbf;
	}

	.open-seed-wrapper {
		+ p {
			background-color: #ffffff;
			color: #039cbf;
		}
		.open-seed {
			display: none;
		}
	}

	.warn-header {
		font-family: 'Exo 2', sans-serif;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 0;

		@include response(md) {
			font-size: 36px;
		}
	}

	.red-and-bold {
		color: #f40b20;
		font-weight: bold;
	}

	.under-line {
		width: 36px;
		height: 1px;
		background-color: #000000;
		display: inline-block;
	
		@include response(md) {
			width: 72px;
		}
	
		& + p {
			font-family: 'Exo 2', sans-serif;
			font-size: 12px;
			margin-bottom: 12px;
			line-height: 1.4em;
	
			@include response(md) {
				font-size: 17px;
			}
	
			& > span {
				font-weight: bold;
			}
		}
	}

	.warn-body {
		font-size: 1em;
		color: #000000;
	}

}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}