@import '../assets/sass/vendors/response';

.login-container {
	color: #ffffff;

	img {
		width: 118px;
		margin: 0;
	}

	h1 {
		font-size: 20px;

		@include response(md) {
			font-size: 36px;
		}
	}

	.under-line-blue {
		position: relative;
		display: block;
		width: 3em;
		height: 1px;
		background-color: #039cbf;
		margin: 18px auto;

		@include response(md) {
			margin: 36px auto;
		}
	}

	p {
		font-size: 11px;
		font-weight: 200;
		margin: 18px auto;

		@include response(md) {
			font-size: 17px;
			margin: 36px auto;
		}
	}

	input, textarea {
		width: 100%;
		border-radius: 5px;
		color: #000000;
		height: 44px;
		border: 1px solid #039cbf;
		padding: 0 2em;
		max-width: 760px;
		font-size: 14px;
		font-family: 'Noto Sans KR', sans-serif;
	}

	textarea {
		padding: 7px 21px;
		height: 58px;

		@include response(md) {
			height: 44px;
			font-size: 17px;
		}
	}

	.error {
		color: #eb3e67;
	}
}


.radio_container {
  position: relative;
  padding-left: 36px;
	margin-bottom: 12px;
	margin-right: 24px;
	cursor: pointer;
	font-family: 'Exo 2', sans-serif;
	font-size: 1em;
	font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	
	@include response(md) {
		padding-left: 36px;
		margin-right: 46px;
	}
}

.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
	height: 1.4em;
	width: 1.4em;
	background-color: transparent;
	border: 0.1em solid #0094bd;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .radiomark {
  background-color: rgba(0, 0, 0, 0.1);
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .radiomark {
  background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .radiomark:after {
  top: 0.15em;
  left: 0.15em;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
	background: #0094bd;
}