@import '../assets/sass/vendors/response';


.seed-container + .button-wrapper {
	padding-bottom: 2em;
}

.passowrd-form-container {
	> p {
		text-align: center;
		color: #000000;
		font-size: 20px;
		font-weight: 200;
		margin: 0;
	}

	.button-wrapper {
		margin: 20px;
		padding: 0;
	
		@include response(md) {
			margin: 0px auto;
			padding-top: 20px;
		}
	}

	.text-alert {
		margin-bottom: 18px;
		font-size: 11px;
	  
		@include response(md) {
		  font-size: 16px;
		}
	}

	.input-group-label-wrapper {
		p {
			display: inline-block;
			font-size: 11px;
			color: #000000;
			font-weight: 200;
			margin-bottom: 0.5em;
			margin: 0px;
	
			@include response(md) {
				&.gt-md {
					width: 100%;
					font-size: 16px;
				}
			}
		}

		.gt-md {
			display: none;
		}
	
		@include response(md) {
			max-width: 860px;
			margin: auto;
	
			.only-mobile {
				display: none;
			}
	
			.gt-md {
				display: inline-block;
			}
		}
	}
	
	.input-label {
		color: #000000;
		font-size: 1rem;
	}
	
	.input-group {
		text-align: left;
		width: 80%;
		margin: 16px auto;
		@include response(md) {
			height: auto;
		}
	
		input {
			background-color: #b0d8e3;
			border: none;
			border-radius: 5px;
			height: 38px;
		}
	
		.input-password {
			width: calc(100%);
			padding-left: 1.5em;
			font-family: "Noto Sans KR", sans-serif;
	
			@include response(md) {
				display: inline-block;
				width: 100%;
			}
		}
	}
	
}


.login-container .passowrd-form-container {
	.input-group {
		text-align: left;
		width: 80%;
		margin: 20px auto;
		@include response(md) {
			margin: 36px auto;
			height: auto;
		}
	
		input {
			background-color: #ffffff;
			border: none;
			border-radius: 5px;
			height: 38px;
		}
	
		.input-password {
			width: calc(100%);
			padding-left: 1.5em;
			font-family: "Noto Sans KR", sans-serif;
	
			@include response(md) {
				display: inline-block;
				width: 100%;
			}
		}
	
		.input-group-label-wrapper {
			p {
				display: inline-block;
				font-size: 11px;
				color: white;
				margin: 0px;
				font-weight: 200;
				margin-bottom: 0.5em;
		
				@include response(md) {
					&.gt-md {
						width: 100%;
						font-size: 16px;
					}
				}
			}

			.gt-md {
				display: none;
			}
		
			@include response(md) {
				max-width: 860px;
				margin: auto;
		
				.only-mobile {
					display: none;
				}
		
				.gt-md {
					display: inline-block;
				}
			}
		}
		
		.input-label {
			color: white;
			font-size: 1rem;
		}
	}
	
}
